body{
    background-color: #EAF3FA;
    font-family: 'Abel', sans-serif;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

#logo{
    width: 75x;
    height: 75px;
    margin-top: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

ul li{
    margin-right: 80px;
    font-size: 18px;
}

a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    color: black;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon ul li a{
    color:black;
    background-color: #00C2ED;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color:#00C2ED;
    margin: 6px 0;
    transition: 0.4s;

}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    background-color: #00C2ED;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}


.mobile-menu li {
    margin-top: 10px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 60px; */
    background-color: #00C2ED;
    width: 100%;
    padding: 0px;
    margin-top: 7.75%;
}

.footer ul li{
    margin-right: 0px;
}
.footer ul{
    margin-right: 15px;
}

.footer ul li img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.footer p{
    line-height: 0.5;
    margin-left: 15px;
}
#centerP{
    margin-top: 30px;
    margin-left: 0px;
}
.vec{
    width: 60px;
    margin-left: -55px;
    margin-bottom: 14px;
    margin-top: -46px;
}
.user, .pass{
    color:rgb(0, 0, 0);
  
  font-weight:500;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border:5px solid #00C2ED;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  height: 15px;
  box-sizing: border-box;
  outline:0;
}
.login{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 40%;
    height: 40px;
    background:#00C2ED;
    border-radius:10px;
    border:0;
    cursor:pointer;
    color:rgb(255, 255, 255);
    font-size:24px;
    padding-top:7px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:5px;
    font-weight:700;
    margin-left: 60%;
  }
  .login:hover { background:#00d0ff; }
.container{
    margin-left: 10%;
    margin-top: -27%;
    width: 280px;
    
}

  .help{
      font-size: 18px;
  }
  h1{
    color: #00C2ED;
    text-decoration-style: solid ;
    text-decoration-line: underline;
    text-decoration-color: #00C2ED;
    font-size: 50px;
}
.hed{
    margin-left: 55%;
    margin-top: 5%;
}
.door{
    height: 15%;
    width: 30%;
    margin-left: 50%;
    margin-top: -3%;
}

@media only screen and (max-width: 600px) {
    #logo{
        width: 55x;
        height: 55px;
    }
    .menu {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
      margin-right: 20px;
    }
    .hed{
        display: none;
    }
    .door{
        display: none;
    }
    
    .help{
        font-size: 15px;
    }
    h1{
      margin-top: 100px;
      font-size: 30px;
      
  }
    
    

    .footer{
        position:absolute;
        bottom:0;
        z-index: -1;
        margin-top: 50px;
    }

    .footer ul{
        display: block;
    }
    .footer .firstP{
        height: 60px;
    }

    #centerP{
        margin-top: 90px;
        width: 500px;
        left: 0;
        margin-left: -130px;
    }
    .footer ul li img{
        width: 30px;
        height: 30px;
        margin-left: -8px;
    }
    
    
  }