body{
    background-color: #EAF3FA;
    font-family: 'Abel', sans-serif;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

#logo{
    width: 75x;
    height: 75px;
    margin-top: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

ul li{
    margin-right: 80px;
    font-size: 18px;
}

a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    color: black;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon ul li a{
    color:black;
    background-color: #00C2ED;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color:#00C2ED;
    margin: 6px 0;
    transition: 0.4s;

}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    background-color: #00C2ED;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}


.mobile-menu li {
    margin-top: 10px;
}

.container img{
    width: 800px;
    height: 440px;
    margin-left: 50px;
    margin-top: 0px;
}

.container{
    display: flex;
}

.titles{
    margin-left: 80px;
    width: 400px;
    text-align: center;
}

h1{
    color: #00C2ED;
    text-decoration-style: solid ;
    text-decoration-line: underline;
    text-decoration-color: #00C2ED;
}

.button{
    color: white;
    background-color: #00C2ED;
    border-radius: 10px;
    border: none;
    width:80px;
    height: 30px;
}


.btn {
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: #00C2ED;
    box-shadow: -3px 3px 0px 0px #3C93D5;
    border: none;
    width:90px;
    height: 40px;
  }
  
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }



.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00C2ED;
    width: 100%;
    padding: 0px;
    position: absolute;
    bottom:0;
}

.footer ul li{
    margin-right: 0px;
}
.footer ul{
    margin-right: 15px;
}

.footer ul li img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.footer p{
    line-height: 0.5;
    margin-left: 15px;
}
#centerP{
    margin-top: 30px;
    margin-left: 0px;
}
.vec{
    width: 60px;
    margin-left: -55px;
    margin-bottom: 14px;
    margin-top: -46px;
}

.active{
    border-bottom: 3px solid #00C2ED;
    border-radius: 3px;
}











@media only screen and (max-width: 600px) {
    #logo{
        width: 55x;
        height: 55px;
    }
    .menu {
      display: none;
    }
    .mobile-menu{
        z-index: 1;
    }
    #hamburger-icon {
      display: block;
      margin-right: 20px;
    }

    .container img{
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .container{
        display: block;
        display: flex;
        flex-direction: column-reverse;
    }
    .titles{
        width: 80%;
        margin: auto;
    }

    .footer{
        position:absolute;
        bottom:0;
        z-index: 2;
    }

    .footer ul{
        display: block;
    }
    .footer .firstP{
        height: 60px;
    }

    #centerP{
        margin-top: 90px;
        width: 500px;
        left: 0;
        margin-left: -60px;
    }
    
    .btn{
        margin-bottom: 20px;
        z-index: -1;
    }
  }

  
  




